<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>리스트</title>
</head>
<body>
<span>로그인 유저 : </span><span th:text="${session.sessionUserName}"></span>
<button onclick="location.href='/logout'">로그아웃</button>
<table border="1">
    <tr>
        <th>번호</th><th>타이틀</th><th>글쓴이</th><th>작성일</th><th>조회수</th>
    </tr>
    <tr th:each="board2 : ${board2List}">
        <td th:text="${board2.no}"></td>
        <td><a th:href="@{'/board2/detail/' + ${board2.no}}" th:text="${board2.title}"></a></td>
        <td th:text="${board2.writer}"></td>
        <td th:text="${board2.regDate}"></td>
        <td th:text="${board2.count}"></td>
    </tr>
</table>
<button onclick="location.href='/board2/reg'">글쓰기</button>
<span th:text="${msg}"></span>
</body>
</html>